* {
    box-sizing: border-box;
}

body{
    background-color: #e27a9a;
}

#header-nav {
    background-color: #92058b;
    border-radius: 0;
    border: 0;    
    border: solid black 3px;
    margin-bottom: 0;
    text-align: left;
}

.navbar-brand {       
    padding-left: 0;  
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
  }

.navbar-brand h1 {    
    font-family: 'Alfa Slab One';
    font-size: 1.5em;
    color: #EDF5E1;   
    margin-top: 0;
    margin-left: 15px;
    margin-bottom: 0;
    text-align: left;
}

.text-center {
    font-family: 'Alfa Slab One';
    font-size: 42px;
    color: #d12064; 
    position: relative;
    margin-top: 55px;
}

#text {       
    margin: 10px;
    background-color: #5CDB95;
    font-family: 'Oxygen'; 
    font-size: 1.3em;
    font-weight: normal; 
    color: #EDF5E1; 
    position: relative;
}
.centered {
    position: absolute;
    font-family: 'Alfa Slab One';
    top: 50%;
    font-size: 80px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .container {
    position: relative;
    text-align: center;
    color: white;
  }
  .top-left {
    position: absolute;
    font-family: 'Alfa Slab One';
    top: 8px;
    left: 16px;
    font-size: 60px;
  }
  



#nav-list {
    margin-top: 10px;
}

#nav-list a {
    text-align: center;
    color: #EDF5E1;
    font-family: 'Alfa Slab One';
    font-weight: 100;
    background-color: #05386B;
}

#nav-list a:hover {
    background-color: #EDF5E1; 
    color: #05386B; 
}

#nav-list a li:hover{
    color: #05386B;
}

.navbar-default .navbar-collapse {
	margin-top:0px;
	border: 0px;
	list-style-type: none;
} 

.carousel-inner img {
    width: 100%;
    height: 100%;
  }

.carousel .item {
  height: 600px;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
} 



/* Tablets an medium desktops */
@media (min-width: 992px) and (max-width: 1200px) {
    .carousel .carousel-inner{
height:auto
 }

 .carousel .item {
  height: 600px;
}

}
/* Tablets portrait and small desktops*/
@media (min-width: 768px) and (max-width: 991px) {
    .carousel .carousel-inner{
height:auto
 }

 .carousel .item {
  height: 400px;
}

}
/* landscape phones and portrait tablets */
@media (max-width: 767px) {
    .carousel .carousel-inner{
height:auto
 }

 .carousel .item {
  height: 300px;
}

}
/* landscape phones and small devices */
@media (max-width: 480px) {
    .carousel .carousel-inner{
height:auto
 }

 .carousel .item {
  height: 200px;
}

}

#navigation-items{
    position: absolute;
    top : 15px;
    right: 40px;
    margin-bottom: 0px;
    
}

#menu li{
    display: inline;
    padding-right: 10px;
    padding-left: 10px;
    content: 15px;
    color: #EDF5E1;
    font-weight: bold;
}

#menu a:hover{
    background-color: #EDF5E1;
    text-decoration: none;
}

#menu a li:hover{
    color: #05386B;
}

#menu ul{
    height: 30px;
}

#stream img{
    float: left;
    padding-right: 20px;
}

#stream p{
    font-size: 15px;
}

#top-shifted{
    width: 500px;
    position: relative;
    left: 45px;
}

.stream-name{
    position: relative;
    right: 100px;
    bottom: 30px;
}



#text a{
    color: #EDF5E1;
    padding: 0px;
}

#text a:hover{
    text-decoration: none;
}

.course-content{
    margin: 0px;
    position: relative;
    bottom: 20px;
}

#subheading{
    position: relative;
    top: 10px;
    margin-left: 30px;
}

#body-img{
    float: left;
    margin-right: 20px;
    margin-top: 10px;
}

button{
    color: #EDF5E1;
    background-color: #05386B;
}

button:hover{
    color: #05386B;
    background-color: #EDF5E1;
}

footer{
    background-color: gray;
    color: white;
    height: 140px;
    position: absolute;
    top: 100%;
    width: 100%;
    right: 20px;
    left: 0px;
    margin-right: 0px;
}

a{
    text-decoration: none;
}